@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Laila");
@-webkit-keyframes cardenter {
  0% {
    transform: rotatey(0deg);
    transform-style: preserve-3d;
    -webkit-transform: rotatey(0deg);
    -webkit-transform-style: preserve-3d; }
  100% {
    transform-style: preserve-3d;
    transform: rotatey(180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotatey(180deg);
    -moz-transform-style: preserve-3d;
    -moz-transform: rotatey(180deg);
    -ms-transform-style: preserve-3d;
    -ms-transform: rotatey(180deg);
    -o-transform-style: preserve-3d;
    -o-transform: rotatey(180deg); } }

@-webkit-keyframes react-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@media only screen and (max-width: 600px) {
  /* line 79, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .card {
    display: block; }
  /* line 82, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .react-logo {
    display: none; }
  /* line 85, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .player-one {
    margin-top: 30px; } }

@media screen and (max-width: 600px) {
  /* line 91, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .nav-wrapper-top > :nth-child(-n+4) {
    display: none; }
  /* line 92, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .nav-wrapper-top button.icon {
    float: right;
    display: block; } }

@media screen and (max-width: 600px) {
  /* line 99, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .nav-wrapper-top.responsive {
    position: relative; }
  /* line 100, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .nav-wrapper-top.responsive button.icon {
    position: absolute;
    right: 16px;
    top: 14px; }
  /* line 106, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .nav-wrapper-top.responsive a {
    float: none;
    display: block;
    text-align: left; } }

/* line 113, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
div.responsive {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }

/* line 121, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.test-wrapper {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0); }

/* line 126, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.touch {
  height: 37px;
  margin: auto;
  margin-left: 15px;
  position: relative;
  opacity: .8; }

/* line 134, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.card-container {
  display: flex;
  -webkit-display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; }

/* line 141, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.card {
  margin-bottom: 10px;
  position: relative;
  float: left;
  margin-right: 10px;
  width: 123px;
  height: 178px;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3); }
  /* line 153, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .card .front, .card .back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    position: absolute;
    -webkit-position: absolute;
    display: flex;
    -webkit-display: flex;
    align-content: space-around;
    justify-content: center; }
  /* line 164, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .card .front {
    transform: rotatey(-180deg);
    -webkit-transform: rotatey(-180deg);
    -moz-transform: rotatey(-180deg);
    -ms-transform: rotatey(-180deg);
    -o-transform: rotatey(-180deg);
    animation: cardenter 0.01s forwards;
    z-index: 1;
    height: 100%;
    position: absolute;
    width: 100%;
    animation-name: cardenter;
    animation-fill-mode: forwards; }
  /* line 176, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .card .back {
    z-index: 3;
    width: 100%;
    height: 100%;
    background-image: url("../images/card-back.png");
    background-size: 100% 100%; }
    /* line 182, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
    .card .back:hover {
      cursor: pointer; }

/* line 188, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.flipit {
  transform: rotatey(-180deg);
  -webkit-transform: rotatey(-180deg);
  -moz-transform: rotatey(-180deg);
  -ms-transform: rotatey(-180deg);
  -o-transform: rotatey(-180deg);
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  animation: cardenter .5s;
  -webkit-animation: cardenter .5s; }

/* line 195, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.front > p {
  padding: auto;
  margin: auto;
  font: 80px/160px Georgia, Times New Roman, serif;
  position: absolute; }

/* line 202, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.page-header {
  margin: 0;
  margin-bottom: 10px;
  background-color: rgba(51, 102, 255, 0.4);
  background-size: cover;
  padding-top: 10px;
  height: 5em;
  box-shadow: 1px 1px 2px black; }
  /* line 211, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .page-header h1 {
    margin: 0;
    padding: 0; }

/* line 217, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
#button-group {
  min-width: 130px;
  position: fixed;
  display: inline-block;
  top: 26%;
  left: auto;
  z-index: 30; }

/* line 226, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.score-text {
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
  color: #e60a0a; }

/* line 231, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
#custom-button {
  border-radius: 3px;
  border: 1px solid transparent;
  background: linear-gradient(to left, rgba(188, 3, 9, 0.7), rgba(214, 32, 38, 0.7), rgba(142, 9, 14, 0.7));
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.1em;
  width: 100px; }
  /* line 239, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  #custom-button:disabled {
    opacity: .4; }
    /* line 241, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
    #custom-button:disabled:hover {
      border: 1px solid transparent; }
  /* line 245, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  #custom-button:hover {
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    border: 1px solid rgba(255, 255, 255, 0.7); }

/* SIDE NAV */
/* line 253, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.sidenav-button-a {
  background: rgba(214, 32, 38, 0.8);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: fixed;
  z-index: 1000;
  width: 20px;
  height: 60px;
  float: left;
  top: 48.5%; }

@-webkit-keyframes slideOut {
  0% {
    height: 30px;
    width: 30px;
    margin-top: inherit; }
  75% {
    width: 25em;
    height: 30px;
    margin-top: inherit;
    .menu-items {
      visibility: visible; } }
  100% {
    height: 35em;
    width: 25em;
    margin-top: -17em; } }

@-webkit-keyframes slideIn {
  0% {
    height: 35em;
    width: 25em;
    margin-top: -17em; }
  75% {
    width: 25em;
    height: 30px;
    margin-top: inherit; }
  100% {
    height: 30px;
    width: 0px;
    margin-top: inherit; } }

@-webkit-keyframes showItems {
  from {
    visibility: hidden; }
  to {
    visibility: visible; } }

/* line 315, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.nav-wrapper {
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
  color: white;
  position: fixed;
  height: 30px;
  width: 0px;
  top: 50%;
  transition: 2s ease-out;
  z-index: 500;
  text-align: center; }
  /* line 326, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .nav-wrapper .nav-menu {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 1px 2px 2px;
    background: linear-gradient(to left, rgba(188, 3, 9, 0.7), rgba(214, 32, 38, 0.7), rgba(142, 9, 14, 0.7));
    animation-name: slideOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4); }
    /* line 334, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
    .nav-wrapper .nav-menu .menu-items {
      text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
      animation-name: showItems;
      animation-delay: .9s;
      animation-duration: .1s;
      animation-fill-mode: forwards; }
      /* line 341, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
      .nav-wrapper .nav-menu .menu-items ol {
        list-style-position: inside;
        padding: 5px; }
  /* line 348, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .nav-wrapper .nav-menu-closed {
    background: linear-gradient(to left, rgba(188, 3, 9, 0.7), rgba(214, 32, 38, 0.7), rgba(142, 9, 14, 0.7));
    animation-name: slideIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 1px 2px 2px; }
  /* line 356, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .nav-wrapper .menu-items {
    visibility: hidden; }

/* CARD IMAGES */
/* line 363, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.card-wrapper {
  width: 213px;
  height: 268px;
  display: inline-block; }

/* line 370, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.spread > .card {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: top 0.3s ease, left 0.3s ease;
  -moz-transition: top 0.3s ease, left 0.3s ease;
  -o-transition: top 0.3s ease, left 0.3s ease;
  -ms-transition: top 0.3s ease, left 0.3s ease;
  transition: top 0.3s ease, left 0.3s ease;
  transition: .5s ease; }

/* line 382, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.spread {
  margin-top: 20px;
  width: 250px;
  height: 250px;
  position: relative; }

/* line 389, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.spread > .card {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: top 0.3s ease, left 0.3s ease;
  -moz-transition: top 0.3s ease, left 0.3s ease;
  -o-transition: top 0.3s ease, left 0.3s ease;
  -ms-transition: top 0.3s ease, left 0.3s ease;
  transition: .5s ease; }

/* line 402, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.spread :nth-child(1) {
  right: 100px;
  top: 10px;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
  transition: .5s; }

/* line 414, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.spread :nth-child(2) {
  left: 50px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  transition: .5s; }

/* line 424, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.spread :nth-child(2):last-child {
  left: 100px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  transition: .5s; }

/* line 434, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.spread :nth-child(3) {
  left: 200px;
  top: 10px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  transition: .5s; }

/* line 445, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.spread :nth-child(4) {
  left: 80px;
  top: 20px;
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -o-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  transform: rotate(50deg);
  transition: .5s; }

/* line 456, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.spread :nth-child(5) {
  left: 100px;
  top: 30px;
  -webkit-transform: rotate(70deg);
  -moz-transform: rotate(70deg);
  -o-transform: rotate(70deg);
  -ms-transform: rotate(70deg);
  transform: rotate(70deg);
  transition: .5s; }

/* line 469, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.spread > .card .fanned {
  -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4); }

/* line 474, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
body {
  background: #00a651; }

/* line 478, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.suitdiamonds:before, .suitdiamonds:after {
  content: "♦";
  color: #ff0000;
  position: absolute; }

/* line 484, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.suithearts:before, .suithearts:after {
  content: "♥";
  color: #ff0000;
  position: absolute; }

/* line 490, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.suitclubs:before, .suitclubs:after {
  content: "♣";
  color: #000;
  position: absolute; }

/* line 496, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.suitspades:before, .suitspades:after {
  content: "♠";
  color: #000;
  position: absolute; }

/* line 502, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
div[class*='suit']:before {
  position: absolute;
  font-size: 35px;
  left: 5px;
  top: 5px; }

/* line 509, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
div[class*='suit']:after {
  position: absolute;
  font-size: 35px;
  right: 5px;
  bottom: 5px; }

@keyframes winner {
  from {
    color: white;
    text-shadow: 2px 2px rgba(51, 102, 255, 0.4); }
  to {
    color: green;
    text-shadow: 2px 2px rgba(51, 102, 255, 0.4); } }

@keyframes loser {
  0% {
    color: black; }
  50% {
    color: red; }
  100% {
    color: black; } }

/* line 541, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.winner {
  animation: winner .2s;
  animation-iteration-count: 5; }

/* line 546, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.loser {
  animation: loser 2s; }

/* NAVBAR */
/* line 554, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.nav-wrapper-top {
  opacity: .8;
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 14px 16px;
  text-decoration: none;
  background: linear-gradient(to left, #bc0309, #d62026, #8e090e);
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  box-shadow: 0px 1px 1px black;
  text-align: center;
  display: block; }
  /* line 569, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .nav-wrapper-top .log-out-button {
    float: right; }
    /* line 571, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
    .nav-wrapper-top .log-out-button:hover {
      cursor: pointer; }
  /* line 576, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .nav-wrapper-top .icon {
    float: right;
    display: none; }
  /* line 581, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .nav-wrapper-top a {
    float: left;
    display: block;
    padding: 6px 6px;
    text-decoration: none;
    font-weight: italic;
    font-family: "Laila";
    font-size: 20px;
    color: white;
    background: none;
    border: none; }
    /* line 592, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
    .nav-wrapper-top a:disabled {
      color: gray; }
    /* line 596, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
    .nav-wrapper-top a:hover {
      -webkit-mask-image: -webkit-linear-gradient(to top, black, rgba(0, 0, 0, 0.5) 50%, black);
      -webkit-mask-image: linear-gradient(to top, black, rgba(0, 0, 0, 0.5) 50%, black);
      transition: 0.2s;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -o-transition: 0.2s; }
  /* line 603, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .nav-wrapper-top button {
    float: left;
    display: block;
    padding: 6px 6px;
    text-decoration: none;
    font-weight: italic;
    font-family: "Laila";
    font-size: 20px;
    color: white;
    background: none;
    border: none; }
    /* line 615, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
    .nav-wrapper-top button:disabled {
      color: gray; }
    /* line 619, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
    .nav-wrapper-top button:hover {
      -webkit-mask-image: -webkit-linear-gradient(to top, black, rgba(0, 0, 0, 0.5) 50%, black);
      -webkit-mask-image: linear-gradient(to top, black, rgba(0, 0, 0, 0.5) 50%, black);
      transition: 0.2s;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -o-transition: 0.2s; }

/* line 627, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
#footer {
  width: 100%;
  padding: 1.2em;
  margin: 15px 0 0 0;
  position: fixed;
  display: inline-block;
  left: 0;
  bottom: 0;
  box-shadow: 1px -2px 1px black;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: center;
  z-index: 300; }

/* line 642, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
#dropdown-btn {
  color: black;
  opacity: .7;
  right: 0;
  top: 0;
  padding: 10;
  backround: none; }

/* FORM */
/* line 653, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
textarea:focus, input:focus {
  outline: none; }

/* line 657, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.form-wrapper > form {
  padding: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  border: 2px transparent; }
  /* line 665, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .form-wrapper > form .input-item {
    width: 75%;
    height: 36px;
    border-radius: 5px; }
    /* line 669, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
    .form-wrapper > form .input-item:focus {
      transition: 0.2s;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      border: 2px solid rgba(51, 122, 183, 0.8);
      box-shadow: 0px 0px 4px 2px rgba(51, 122, 183, 0.5); }

/* line 677, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.chip-outer-wrapper {
  border-radius: 90px;
  border: solid 1px black;
  position: relative;
  height: 60px;
  width: 60px; }
  /* line 684, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .chip-outer-wrapper .chip-inner-wrapper {
    border-radius: 90px;
    border: solid 1px black;
    position: absolute;
    height: 45px;
    width: 45px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

/* line 698, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.pokerchip {
  margin: .5em;
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 5em;
  height: 5em;
  background: #555;
  border-radius: 50%;
  position: relative;
  border: .4em dashed white;
  transition: all .5s ease;
  backface-visibility: hidden; }
  /* line 715, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .pokerchip .chip-text {
    text-align: center;
    color: white;
    margin: auto;
    top: 30%;
    position: relative;
    right: 0;
    left: 0;
    bottom: 0; }

/* line 728, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.pokerchip.red {
  background: #DD4631; }

/* line 732, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.pokerchip.blue {
  background: #317DDD; }

/* line 736, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.pokerchip.flat {
  box-shadow: 0 0 0 .2em #fff; }

/* line 740, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.pokerchip.iso {
  transform: perspective(3000px) rotateX(55deg) rotateZ(-40deg);
  box-shadow: -1px 1px 0px #555, -2px 2px 0px #555, -3px 3px 0px #555, -4px 4px 0px #555, -5px 5px 0px #555, -6px 6px 10px #555; }

/* line 751, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.pokerchip.flat:hover {
  transform: rotate(20deg);
  cursor: pointer; }

/* line 756, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.pokerchip.iso:hover {
  transform: perspective(3000px) rotateX(20deg) rotateZ(-40deg) translateZ(0.5em); }

/* line 762, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.cardstack, .hand {
  position: relative;
  height: 9.6em; }

/* line 767, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.card-test {
  height: 8.85em;
  width: 6.4em;
  background: #fff url("../images/card-set.png") no-repeat;
  background-size: 1300% 400%;
  border: 1px solid #695d39;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 0 .5em -.15em #000;
  -moz-box-shadow: 0 0 .5em -.15em #000;
  box-shadow: 0 0 .5em -.15em #000;
  font-family: 'Times', serif;
  text-align: left;
  line-height: 1em;
  padding-top: .25em;
  padding-left: .1em;
  letter-spacing: -.2em;
  position: absolute; }

/* SUITS */
/* line 789, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.C {
  background-position-y: 0;
  color: #000; }

/* line 790, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.D {
  background-position-y: -9.1em;
  color: #890000; }

/* line 791, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.S {
  background-position-y: -18.2em;
  color: #000; }

/* line 792, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.H {
  background-position-y: -27.3em;
  color: #890000; }

/* RANKS */
/* line 795, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rankA {
  background-position-x: 0; }

/* line 796, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank2 {
  background-position-x: -6.5em; }

/* line 797, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank3 {
  background-position-x: -13em; }

/* line 798, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank4 {
  background-position-x: -19.5em; }

/* line 799, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank5 {
  background-position-x: -26em; }

/* line 800, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank6 {
  background-position-x: -32.5em; }

/* line 801, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank7 {
  background-position-x: -39em; }

/* line 802, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank8 {
  background-position-x: -45.5em; }

/* line 803, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank9 {
  background-position-x: -52em; }

/* line 804, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank10 {
  background-position-x: -58.5em; }

/* line 805, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rankJ {
  background-position-x: -65em; }

/* line 806, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rankQ {
  background-position-x: -71.5em; }

/* line 807, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rankK {
  background-position-x: -78em; }

/* Lay cards out edge-to-edge */
/* line 810, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.card-test:nth-of-type(1) {
  left: 0; }

/* line 811, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.card-test:nth-of-type(2) {
  left: 7em; }

/* line 812, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.card-test:nth-of-type(3) {
  left: 14em; }

/* line 813, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.card-test:nth-of-type(4) {
  left: 21em; }

/* line 814, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.card-test:nth-of-type(5) {
  left: 28em; }

/* Lay card-tests out in a stacked hand showing indices */
/* line 817, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.hand .card-test:nth-of-type(1) {
  left: 0; }

/* line 818, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.hand .card-test:nth-of-type(2) {
  left: 1em; }

/* line 819, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.hand .card-test:nth-of-type(3) {
  left: 2em; }

/* line 820, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.hand .card-test:nth-of-type(4) {
  left: 3em; }

/* line 821, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.hand .card-test:nth-of-type(5) {
  left: 4em; }

/* For FF compatibility, the combined rank-suit classes */
/* line 824, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rankAC {
  color: #000;
  background-position: 0 0; }

/* line 825, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rankAD {
  color: #890000;
  background-position: 0 -9.1em; }

/* line 826, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rankAS {
  color: #000;
  background-position: 0 -18.2em; }

/* line 827, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rankAH {
  color: #890000;
  background-position: 0 -27.3em; }

/* line 828, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank2C {
  color: #000;
  background-position: -6.5em 0; }

/* line 829, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank2D {
  color: #890000;
  background-position: -6.5em -9.1em; }

/* line 830, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank2S {
  color: #000;
  background-position: -6.5em -18.2em; }

/* line 831, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank2H {
  color: #890000;
  background-position: -6.5em -27.3em; }

/* line 832, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank3C {
  color: #000;
  background-position: -13em 0; }

/* line 833, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank3D {
  color: #890000;
  background-position: -13em -9.1em; }

/* line 834, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank3S {
  color: #000;
  background-position: -13em -18.2em; }

/* line 835, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank3H {
  color: #890000;
  background-position: -13em -27.3em; }

/* line 836, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank4C {
  color: #000;
  background-position: -19.5em 0; }

/* line 837, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank4D {
  color: #890000;
  background-position: -19.5em -9.1em; }

/* line 838, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank4S {
  color: #000;
  background-position: -19.5em -18.2em; }

/* line 839, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank4H {
  color: #890000;
  background-position: -19.5em -27.3em; }

/* line 840, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank5C {
  color: #000;
  background-position: -26em 0; }

/* line 841, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank5D {
  color: #890000;
  background-position: -26em -9.1em; }

/* line 842, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank5S {
  color: #000;
  background-position: -26em -18.2em; }

/* line 843, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank5H {
  color: #890000;
  background-position: -26em -27.3em; }

/* line 844, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank6C {
  color: #000;
  background-position: -32.5em 0; }

/* line 845, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank6D {
  color: #890000;
  background-position: -32.5em -9.1em; }

/* line 846, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank6S {
  color: #000;
  background-position: -32.5em -18.2em; }

/* line 847, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank6H {
  color: #890000;
  background-position: -32.5em -27.3em; }

/* line 848, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank7C {
  color: #000;
  background-position: -39em 0; }

/* line 849, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank7D {
  color: #890000;
  background-position: -39em -9.1em; }

/* line 850, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank7S {
  color: #000;
  background-position: -39em -18.2em; }

/* line 851, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank7H {
  color: #890000;
  background-position: -39em -27.3em; }

/* line 852, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank8C {
  color: #000;
  background-position: -45.5em 0; }

/* line 853, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank8D {
  color: #890000;
  background-position: -45.5em -9.1em; }

/* line 854, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank8S {
  color: #000;
  background-position: -45.5em -18.2em; }

/* line 855, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank8H {
  color: #890000;
  background-position: -45.5em -27.3em; }

/* line 856, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank9C {
  color: #000;
  background-position: -52em 0; }

/* line 857, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank9D {
  color: #890000;
  background-position: -52em -9.1em; }

/* line 858, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank9S {
  color: #000;
  background-position: -52em -18.2em; }

/* line 859, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank9H {
  color: #890000;
  background-position: -52em -27.3em; }

/* line 860, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank10C {
  color: #000;
  background-position: -58.5em 0; }

/* line 861, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank10D {
  color: #890000;
  background-position: -58.5em -9.1em; }

/* line 862, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank10S {
  color: #000;
  background-position: -58.5em -18.2em; }

/* line 863, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rank10H {
  color: #890000;
  background-position: -58.5em -27.3em; }

/* line 864, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rankJC {
  color: #000;
  background-position: -65em 0; }

/* line 865, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rankJD {
  color: #890000;
  background-position: -65em -9.1em; }

/* line 866, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rankJS {
  color: #000;
  background-position: -65em -18.2em; }

/* line 867, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rankJH {
  color: #890000;
  background-position: -65em -27.3em; }

/* line 868, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rankQC {
  color: #000;
  background-position: -71.5em 0; }

/* line 869, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rankQD {
  color: #890000;
  background-position: -71.5em -9.1em; }

/* line 870, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rankQS {
  color: #000;
  background-position: -71.5em -18.2em; }

/* line 871, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rankQH {
  color: #890000;
  background-position: -71.5em -27.3em; }

/* line 872, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rankKC {
  color: #000;
  background-position: -78em 0; }

/* line 873, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rankKD {
  color: #890000;
  background-position: -78em -9.1em; }

/* line 874, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rankKS {
  color: #000;
  background-position: -78em -18.2em; }

/* line 875, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.rankKH {
  color: #890000;
  background-position: -78em -27.3em; }
