@charset "UTF-8";
@-webkit-keyframes cardenter {
  0% {
    transform: rotatey(0deg);
    transform-style: preserve-3d;
    -webkit-transform: rotatey(0deg);
    -webkit-transform-style: preserve-3d; }
  100% {
    transform-style: preserve-3d;
    transform: rotatey(180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotatey(180deg);
    -moz-transform-style: preserve-3d;
    -moz-transform: rotatey(180deg);
    -ms-transform-style: preserve-3d;
    -ms-transform: rotatey(180deg);
    -o-transform-style: preserve-3d;
    -o-transform: rotatey(180deg); } }

@-webkit-keyframes react-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@media only screen and (max-width: 600px) {
  /* line 85, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .card {
    display: block; }
  /* line 88, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .react-logo {
    display: none; }
  /* line 91, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .player-one {
    margin-top: 30px; } }

/* line 96, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
body {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); }

/* line 100, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.test-wrapper {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0); }

/* line 105, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.react-logo {
  animation: react-logo-spin infinite 15s linear;
  height: 50px;
  margin: auto;
  position: relative;
  opacity: .8; }

/* line 113, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.touch {
  height: 37px;
  margin: auto;
  margin-left: 15px;
  position: relative;
  opacity: .8; }

/* line 121, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.card-container {
  display: flex;
  -webkit-display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; }

/* line 128, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.card {
  margin-bottom: 10px;
  position: relative;
  float: left;
  margin-right: 10px;
  width: 123px;
  height: 178px;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3); }
  /* line 140, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .card .front, .card .back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    position: absolute;
    -webkit-position: absolute;
    display: flex;
    -webkit-display: flex;
    align-content: space-around;
    justify-content: center; }
  /* line 151, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .card .front {
    transform: rotatey(-180deg);
    -webkit-transform: rotatey(-180deg);
    -moz-transform: rotatey(-180deg);
    -ms-transform: rotatey(-180deg);
    -o-transform: rotatey(-180deg);
    -webkit-animation: cardenter 0.1s forwards;
    animation: cardenter false forwards;
    z-index: 1;
    height: 100%;
    position: absolute;
    width: 100%;
    animation-name: cardenter;
    animation-fill-mode: forwards; }
  /* line 163, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .card .back {
    z-index: 3;
    width: 100%;
    height: 100%;
    background-image: url("../images/card-back.png");
    background-size: 100% 100%; }
    /* line 169, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
    .card .back:hover {
      cursor: pointer; }

/* line 175, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.flipit {
  transform: rotatey(-180deg);
  -webkit-transform: rotatey(-180deg);
  -moz-transform: rotatey(-180deg);
  -ms-transform: rotatey(-180deg);
  -o-transform: rotatey(-180deg);
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  animation: cardenter .5s;
  -webkit-animation: cardenter .5s; }

/* line 182, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.front > p {
  padding: auto;
  margin: auto;
  font: 80px/160px Georgia, Times New Roman, serif;
  position: absolute; }

/* line 201, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.page-header {
  margin: 0;
  margin-bottom: 10px;
  background-color: rgba(51, 102, 255, 0.4);
  background-size: cover;
  padding-top: 10px;
  height: 5em;
  box-shadow: 1px 1px 2px black; }
  /* line 210, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .page-header h1 {
    margin: 0;
    padding: 0; }

/* line 216, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
#button-group {
  min-width: 130px;
  position: fixed;
  display: inline-block;
  top: 30%;
  left: auto;
  z-index: 30; }

/* line 225, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.score-text {
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
  color: #e60a0a; }

/* line 230, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
#custom-button {
  border-radius: 3px;
  border: 1px solid transparent;
  background-color: rgba(51, 102, 255, 0.4);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px; }
  /* line 237, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  #custom-button:disabled {
    opacity: .4; }
  /* line 240, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  #custom-button:hover {
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    border: 1px solid rgba(0, 0, 0, 0.5); }

/* SIDE NAV */
/* line 248, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.sidenav-button-a {
  background: rgba(0, 0, 255, 0.5);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: fixed;
  z-index: 1000;
  width: 20px;
  height: 60px;
  float: left;
  top: 48.5%; }

@-webkit-keyframes slideOut {
  0% {
    height: 30px;
    width: 30px;
    margin-top: inherit; }
  75% {
    width: 25em;
    height: 30px;
    margin-top: inherit;
    .menu-items {
      visibility: visible; } }
  100% {
    height: 35em;
    width: 25em;
    margin-top: -17em; } }

@-webkit-keyframes slideIn {
  0% {
    height: 35em;
    width: 25em;
    margin-top: -17em; }
  75% {
    width: 25em;
    height: 30px;
    margin-top: inherit; }
  100% {
    height: 30px;
    width: 0px;
    margin-top: inherit; } }

@-webkit-keyframes showItems {
  from {
    visibility: hidden; }
  to {
    visibility: visible; } }

/* line 308, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.nav-wrapper {
  position: fixed;
  height: 30px;
  width: 0px;
  top: 50%;
  transition: 2s ease-out;
  z-index: 500;
  text-align: center; }
  /* line 317, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .nav-wrapper .nav-menu {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 1px 2px 2px;
    background: rgba(244, 167, 66, 0.8);
    animation-name: slideOut;
    animation-duration: 1s;
    animation-fill-mode: forwards; }
    /* line 323, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
    .nav-wrapper .nav-menu .menu-items {
      animation-name: showItems;
      animation-delay: .9s;
      animation-duration: .1s;
      animation-fill-mode: forwards; }
      /* line 329, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
      .nav-wrapper .nav-menu .menu-items ol {
        list-style-position: inside;
        padding: 5px; }
  /* line 336, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .nav-wrapper .nav-menu-closed {
    background: rgba(244, 167, 66, 0.8);
    animation-name: slideIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 1px 2px 2px; }
  /* line 344, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
  .nav-wrapper .menu-items {
    visibility: hidden; }

/* CARD IMAGES */
/* line 351, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.card-wrapper {
  width: 213px;
  height: 268px;
  display: inline-block; }

/* line 358, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.spread > .card {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: top 0.3s ease, left 0.3s ease;
  -moz-transition: top 0.3s ease, left 0.3s ease;
  -o-transition: top 0.3s ease, left 0.3s ease;
  -ms-transition: top 0.3s ease, left 0.3s ease;
  transition: top 0.3s ease, left 0.3s ease;
  transition: .5s ease; }

/* line 370, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.spread {
  margin-top: 20px;
  width: 250px;
  height: 250px;
  position: relative; }

/* line 377, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.spread > .card {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: top 0.3s ease, left 0.3s ease;
  -moz-transition: top 0.3s ease, left 0.3s ease;
  -o-transition: top 0.3s ease, left 0.3s ease;
  -ms-transition: top 0.3s ease, left 0.3s ease;
  transition: .5s ease; }

/* line 390, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.spread :nth-child(1) {
  right: 100px;
  top: 10px;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
  transition: .5s; }

/* line 404, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.spread :nth-child(2) {
  left: 50px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  transition: .5s; }

/* line 415, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.spread :nth-child(2):last-child {
  left: 100px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  transition: .5s; }

/* line 425, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.spread :nth-child(3) {
  left: 200px;
  top: 10px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  transition: .5s; }

/* line 436, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.spread :nth-child(4) {
  left: 80px;
  top: 20px;
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -o-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  transform: rotate(50deg);
  transition: .5s; }

/* line 447, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.spread :nth-child(5) {
  left: 100px;
  top: 30px;
  -webkit-transform: rotate(70deg);
  -moz-transform: rotate(70deg);
  -o-transform: rotate(70deg);
  -ms-transform: rotate(70deg);
  transform: rotate(70deg);
  transition: .5s; }

/* line 492, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.spread > .card .fanned {
  -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4); }

/* line 497, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
body {
  background: #00a651; }

/* line 521, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.suitdiamonds:before, .suitdiamonds:after {
  content: "♦";
  color: #ff0000;
  position: absolute; }

/* line 527, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.suithearts:before, .suithearts:after {
  content: "♥";
  color: #ff0000;
  position: absolute; }

/* line 533, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.suitclubs:before, .suitclubs:after {
  content: "♣";
  color: #000;
  position: absolute; }

/* line 539, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.suitspades:before, .suitspades:after {
  content: "♠";
  color: #000;
  position: absolute; }

/* line 545, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
div[class*='suit']:before {
  position: absolute;
  font-size: 35px;
  left: 5px;
  top: 5px; }

/* line 552, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
div[class*='suit']:after {
  position: absolute;
  font-size: 35px;
  right: 5px;
  bottom: 5px; }

@keyframes winner {
  from {
    color: white;
    text-shadow: 2px 2px rgba(51, 102, 255, 0.4); }
  to {
    color: green;
    text-shadow: 2px 2px rgba(51, 102, 255, 0.4); } }

@keyframes loser {
  0% {
    color: black; }
  50% {
    color: red; }
  100% {
    color: black; } }

/* line 584, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.winner {
  animation: winner .2s;
  animation-iteration-count: 5; }

/* line 589, /Users/danielhook/Desktop/card-game/card-game/src/css/main.scss */
.loser {
  animation: loser 2s; }
