@mixin transition($time){
	transition: $time;
	-webkit-transition: $time;
	-moz-transition: $time;
	-o-transition: $time;
}

@mixin transform-style($style){
	 transform-style: $style;
	-moz-transform-style: $style;
	-o-transform-style: $style;
	-ms-transform-style: $style;
	-webkit-transform-style: $style;
}

@mixin backface-visibility ($visibility: hidden){
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
}

@mixin transform($transformation) {
	transform: $transformation;
	-webkit-transform: $transformation;
	-moz-transform: $transformation;
	-ms-transform: $transformation;
	-o-transform: $transformation;
}


@mixin border-opacity($color, $opacity) {
	$opacity: $opacity / 100;
}

@mixin clear-box {
	border: 1px solid rgba(0, 0, 0, .5);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 1px 2px 2px;
}

// variables
// $main-background-color: rgba(230, 10, 10, .5);
$main-background-color: rgba(51, 102, 255, .4);
$main-color: rgb(230, 10, 10);
$text-shadow: -1px 1px 1px rgba(0, 0, 0, .4);


@keyframes cardenter {
	0% {
		transform: rotatey(0deg);
	}

	100% {
		transform-style: preserve-3d;
		transform: rotatey(180deg);
		transition: .5s;
	}
}

@keyframes react-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@media only screen and (max-width: 600px){
	.card {
		display: block;
	}
	.react-logo {
		display: none;
	}
}

body {
	background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.react-logo {
	animation: react-logo-spin infinite 15s linear;
	height: 50px;
	margin: auto;
	position: relative;
	opacity: .8;

}
.touch {

	height: 37px;
	margin: auto;
	margin-left: 15px;
	position: relative;
	opacity: .8;
}

.card-container {
	// perspective: 300px;

	display: flex;
	flex-wrap: wrap;
	#show {
		@include transform(rotatey(-180deg));
		@include transform-style(preserve-3d);
		@include transition(.5s);
		// animation-duration: .5s;
		border: 1px solid rgba(0, 0, 0, .5);
	}
}

.card {
	// -webkit-transition-duration: .5s; /* Safari */
	// transition-duration: .5s;
	// margin: 5px;
	// width: 115px;
	// min-width: 115px;
	// height: 170px;
	// border: 1px solid rgba(0, 0, 0, .0);
	// border-radius: 5px;
	// display: inline-block;
	// box-shadow: 1px 1px 2px 2px rgba(0,0,0,.2);
	// position: relative;
	// text-align: center;

	position: relative;
	display: inline-block;
	float: left;
	width: 123px;
	height: 178px;
	border-radius: 10px;
	background: #fff;
	-webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
	box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
	margin-bottom: 15px;

	.front, .back {
		@include backface-visibility;
		position: absolute;
		display: flex;
		align-content: space-around;
		justify-content: center;
	}

	.front {
		@include transform(rotatey(-180deg));
		// animation-name: cardenter;

		z-index: 1;
		height: 100%;
		width: 100%;

	}

	.back {

		z-index: 3;
		width: 100%;
		height: 100%;
		background-image: url("../images/card-back.png");
		background-size: 100% 100%;
		&:hover {
			cursor: pointer;
		}
	}
}

.flipit {
	// @include transform(rotatey(-180deg));
	// @include transform-style(preserve-3d);
	// @include transition(2s);
	animation-name: cardenter;
	animation-fill-mode: forwards;
	animation-duration: .5s;
	// border: 1px solid rgba(0, 0, 0, .5);
}

.page-header {
	margin: 0;
	margin-bottom: 10px;
	background-color: $main-background-color;
	background-size: cover;
	padding-top: 10px;
	height: 5em;
	box-shadow: 1px 1px 2px black;

	h1 {
		margin: 0;
		padding: 0;
	}
}

#button-group {
	min-width: 130px;
	position: fixed;
	display: inline-block;
	top: 30%;
	left: auto;
	z-index: 30;
}

.score-text {
	text-shadow: $text-shadow;
	color: $main-color;
}

#custom-button {
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, .0);
	background-color: $main-background-color;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100px;
	&:disabled {
		opacity: .4;
	}
	&:hover {
		@include transition(.4s);
		border: 1px solid rgba(0, 0, 0, .5);
	}
}

/* SIDE NAV */

.sidenav-button-a {
	background: transparentize(blue, .5);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	position: fixed;
	z-index: 1000;
	width: 20px;
	height: 60px;
	float: left;
	top: 48.5%;
}

@keyframes slideOut {
	0% {
		height: 30px;
		width: 30px;
		margin-top: inherit;
	}

	75% {
		width: 25em;
		height: 30px;
		margin-top: inherit;
		.menu-items {
			visibility: visible;
		}
	}

	100% {
		height: 35em;
		width: 25em;
		margin-top: -17em;
	}
}

@keyframes slideIn {
	0% {
		height: 35em;
		width: 25em;
		margin-top: -17em;
	}

	75% {
		width: 25em;
		height: 30px;
		margin-top: inherit;
	}

	100% {
		height: 30px;
		width: 0px;
		margin-top: inherit;
	}
}

@keyframes showItems {
	from { visibility: hidden; }
	to { visibility: visible; }
}

.nav-wrapper {
	position: fixed;
	height: 30px;
	width: 0px;
	top: 50%;
	transition: 2s ease-out;
	z-index: 500;
	text-align: center;

	.nav-menu {
		@include clear-box;
		background: rgba(244, 167, 66, .8);
		animation-name: slideOut;
		animation-duration: 1s;
		animation-fill-mode: forwards;
		.menu-items {
			animation-name: showItems;
			animation-delay: .9s;
			animation-duration: .1s;
			animation-fill-mode: forwards;

			ol {
				list-style-position: inside;
				padding: 5px;
			}
		}
	}

	.nav-menu-closed {
		background: rgba(244, 167, 66, .8);
		animation-name: slideIn;
		animation-duration: 1s;
		animation-fill-mode: forwards;
		@include clear-box;
	}

	.menu-items {
		visibility: hidden;
	}
}

/* CARD IMAGES */

.card-wrapper {
	width: 213px;
	height: 268px;
	display: inline-block;
}


.spread > .card {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: top 0.3s ease, left 0.3s ease;
	-moz-transition: top 0.3s ease, left 0.3s ease;
	-o-transition: top 0.3s ease, left 0.3s ease;
	-ms-transition: top 0.3s ease, left 0.3s ease;
	transition: top 0.3s ease, left 0.3s ease;
	transition: .5s ease;
}

.spread {
	margin-top: 20px;
	width: 250px;
	height: 250px;
	position: relative;
}

.spread > .card {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: top 0.3s ease, left 0.3s ease;
	-moz-transition: top 0.3s ease, left 0.3s ease;
	-o-transition: top 0.3s ease, left 0.3s ease;
	-ms-transition: top 0.3s ease, left 0.3s ease;
	// transition: top 0.3s ease, left 0.3s ease;
	transition: .5s ease;
}

.spread {
	:nth-child(1) {
		// bottom: 40px;
		right: 100px;
		top: 10px;
		-webkit-transform: rotate(-30deg);
		-moz-transform: rotate(-30deg);
		-o-transform: rotate(-30deg);
		-ms-transform: rotate(-30deg);
		transform: rotate(-30deg);
		transition: .5s;
	}

	// @if(.spread.)

	:nth-child(2) {
		left: 50px;
		-webkit-transform: rotate(10deg);
		-moz-transform: rotate(10deg);
		-o-transform: rotate(10deg);
		-ms-transform: rotate(10deg);
		transform: rotate(10deg);
		transition: .5s;
	}


	:nth-child(2):last-child {
		left: 100px;
		-webkit-transform: rotate(30deg);
		-moz-transform: rotate(30deg);
		-o-transform: rotate(30deg);
		-ms-transform: rotate(30deg);
		transform: rotate(30deg);
		transition: .5s;
	}

	:nth-child(3) {
		left: 200px;
		top: 10px;
		-webkit-transform: rotate(30deg);
		-moz-transform: rotate(30deg);
		-o-transform: rotate(30deg);
		-ms-transform: rotate(30deg);
		transform: rotate(30deg);
		transition: .5s;
	}

	:nth-child(4) {
		left: 80px;
		top: 20px;
		-webkit-transform: rotate(50deg);
		-moz-transform: rotate(50deg);
		-o-transform: rotate(50deg);
		-ms-transform: rotate(50deg);
		transform: rotate(50deg);
		transition: .5s;
	}

	:nth-child(5) {
		left: 100px;
		top: 30px;
		-webkit-transform: rotate(70deg);
		-moz-transform: rotate(70deg);
		-o-transform: rotate(70deg);
		-ms-transform: rotate(70deg);
		transform: rotate(70deg);
		transition: .5s;
	}
}

// .spread:hover .suithearts {
//   left: 30px;
//   top: 0px;
//   -webkit-transform: rotate(0deg);
//   -moz-transform: rotate(0deg);
//   -o-transform: rotate(0deg);
//   -ms-transform: rotate(0deg);
//   transform: rotate(0deg);
//   transition: .5s;
// }
//
// .spread:hover .suitclubs {
//   left: 60px;
//   top: 5px;
//   -webkit-transform: rotate(10deg);
//   -moz-transform: rotate(10deg);
//   -o-transform: rotate(10deg);
//   -ms-transform: rotate(10deg);
//   transform: rotate(10deg);
//   transition: .5s;
// }
//
// .spread:hover .suitspades{
//   left: 80px;
//   top: 10px;
//   -webkit-transform: rotate(20deg);
//   -moz-transform: rotate(20deg);
//   -o-transform: rotate(20deg);
//   -ms-transform: rotate(20deg);
//   transform: rotate(20deg);
//   transition: .5s;
// }

.spread > .card .fanned {
	-webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.4);
	box-shadow: 1px 1px 7px rgba(0,0,0,0.4);
}

body {
	background: #00a651;
}

.card {

	position: relative;
	float: left;
	margin-right: 10px;
	width: 123px;
	height: 178px;
	border-radius: 10px;
	background: #fff;
	-webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
	box-shadow: 3px 3px 7px rgba(0,0,0,0.3);


	p {
		text-align: center;
		font: 80px/160px Georgia, Times New Roman, serif;
		position: absolute;
	}

}

.suitdiamonds:before, .suitdiamonds:after {
	content: "♦";
	color: #ff0000;
}

.suithearts:before, .suithearts:after {
	content: "♥";
	color: #ff0000;
}

.suitclubs:before, .suitclubs:after {
	content: "♣";
	color: #000;
}

.suitspades:before, .suitspades:after {
	content: "♠";
	color: #000;
}

div[class*='suit']:before {
	position: absolute;
	font-size: 35px;
	left: 5px;
	top: 5px;
}

div[class*='suit']:after {
	position: absolute;
	font-size: 35px;
	right: 5px;
	bottom: 5px;
}





















