@mixin transition($time){
  transition: $time;
  -webkit-transition: $time;
  -moz-transition: $time;
  -o-transition: $time;
}

@mixin transform-style($style){
   transform-style: $style;
  -moz-transform-style: $style;
  -o-transform-style: $style;
  -ms-transform-style: $style;
  -webkit-transform-style: $style;
}

@mixin backface-visibility ($visibility: hidden){
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
}

@mixin transform($transformation) {
  transform: $transformation;
  -webkit-transform: $transformation;
  -moz-transform: $transformation;
  -ms-transform: $transformation;
  -o-transform: $transformation;
}

@mixin border-opacity($color, $opacity) {
	$opacity: $opacity / 100;
}


@keyframes cardenter {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform-style: preserve-3d;
    transform: rotatey(-180deg);
    transition: 1s;
  }
}

.card-container {
  // perspective: 300px;
  display: flex;
  flex-wrap: wrap;
  #show {
    @include transform(rotatey(-180deg));
    animation-name: cardenter;
    animation-duration: .5s;
      border: 1px solid rgba(0, 0, 0, .5);
  }

}

.card {
  @include transform-style(preserve-3d);
  @include transition(2s);

  -webkit-transition-duration: .5s; /* Safari */
  transition-duration: .5s;
  margin: 5px;
  width: 115px;
  height: 170px;
	border: 1px solid rgba(0, 0, 0, .0);
	border-radius: 5px;
  display: inline-block;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,.2);
  position: relative;
  text-align: center;


  .front, .back {
    @include backface-visibility;
    position: absolute;
    display: flex;
    justify-content: center;
  }

  .front {
    @include transform(rotatey(-180deg));

    z-index: 1;
    height: 100%;
    width: 100%;
  }

  .back {
    z-index: 3;
    width: 100%;
    height: 100%;
    background-image: url("../images/card-back.png");
    background-size: 100% 100%;
    &:hover {
      cursor: pointer;
    }
  }
}



.flipit {
  @include transform(rotatey(-180deg));
  @include transform-style(preserve-3d);
  @include transition(.5s);

  border: 1px solid rgba(0, 0, 0, .5);
}

.page-header {
  margin: 0;
  background-color: lightblue;
  background-size: cover;
  padding-top: 10px;
  height: 5em;
  h1 {
    margin: 0;
  }
}

// a {
//   width: 0;
//   height: 0;
// }



// #player-deck {
//   box-shadow: 1px 1px 2px black;
//   padding-top: 5px;
//   width: 115px;
//   height: 150px;
//   margin: 5px;
//   border: 1px solid black;
//   border-radius: 5px;
//   display: inline-block;
// }

/*
.grid {
  display:inline-grid;
} */

/* @media only screen and (min-width:600px) {
  .card {
    display: inline-block;
  }
} */
