.App {
  text-align: center;
}

.grid {
	grid-gap: 20px;
	justify-content: center;
	display: grid;
	grid-template: repeat(3, 350px) / repeat(3, 200px);
}

.card {
	border: 1px solid black;
	radius: 5px;
}
